@{
    ViewData["Title"] = "Register";
}
@model Mentorile.Client.Web.Models.ChangePasswordInput


<div class="justify-content-center">
    <div class="col text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-text" style="padding-top: 30px; padding-bottom: 30px;">Şifreyi Değiştir</h5>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form asp-controller="Auth" asp-action="ChangePassword" method="Post" >
                    <div class="mb-3">
                        <input type="password" asp-for="CurrentPassword" class="form-control" id="CurrentPassword" placeholder="Şimdiki Şifre">
                    </div>
                    <div class="mb-3">
                        <input type="password" asp-for="NewPassword" class="form-control" id="NewPassword" placeholder="Yeni Şifre">
                    </div>
                     <div class="mb-3">
                        <input type="password" asp-for="ReNewPassword" class="form-control" id="ReNewPassword" placeholder="Yeni Şifre Tekrar">
                    </div>

                    <button type="submit" class="btn btn-success w-100 rounded">Üye Ol</button>
                </form>
            </div>
        </div>
    </div>
</div>