<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mentorile.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mentorile.Client.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="row w-100">
                    <div class="col d-flex align-items-center justify-content-between">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mentorile</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                                </li>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Baskets" asp-action="Index">Sepetim</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                            @User.Identity.Name
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">Profil</a></li>
                                            <li><a class="dropdown-item" asp-controller="Courses" asp-action="Index">Kurslarım</a></li>
                                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Studies" asp-action="Index">Admin Derslerim</a></li>
                                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Konularım</a></li>
                                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Hafıza Kartlarım</a></li>
                                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Ders Programım</a></li>
                                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Yol Haritam</a></li>
                                            <li><a class="dropdown-item" asp-controller="Orders" asp-action="CheckoutHistory">Satın Alma Geçmişim</a></li>
                                            <li><a class="dropdown-item" asp-controller="Discounts" asp-action="Index">Kupon Kodlarım</a></li>
                                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Çıkış</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Auth" asp-action="SignIn">Giriş Yap</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 bg-light">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Kullanıcılar</a>
                    <a href="#" class="list-group-item list-group-item-action">Kurslar</a>
                    <a href="#" class="list-group-item list-group-item-action">Dersler</a>
                    <a href="#" class="list-group-item list-group-item-action">Satın Alımlar</a>
                    <a href="#" class="list-group-item list-group-item-action">İndirim Kuponları</a>
                    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">Hafıza Kartları</a>
                </div>
            </div>

            <!-- Main content -->
            <div class="col-md-9 col-lg-10 p-3">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-3">
        <div class="container">
            &copy; 2025 - Mentorile.com - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>