@{
    ViewData["Title"] = "Create";
}
@model CreateStudyInput

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <form asp-controller="Studies" asp-action="Create" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="UserId" value="@User.FindFirst("sub")?.Value" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Name" for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" id="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Dersi Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>