@{
    ViewData["Title"] = "Index";
}
@model List<DiscountViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body"></div>
                <h5 class="card-title">İndirim Kuponlarım</h5>
                @if(Model.Any())
                {
                    <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Kupon Kodu</th>
                            <th>İndirim Oranı</th>
                            <th>Aktiflik Durumu</th>
                            <th>Son Kullanma Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Rate</td>
                                <td>@item.IsActive</td>
                                <td>@item.ExpirationDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
                else{
                    <div class="alert alert-info m-4">
                        <p>Kayıtlı Kupon Kodu bulunamadı.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
