html, body {
  height: 100%; /* Full height */
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Sayfa yüksekliği tam ekran */
}

main {
  flex-grow: 1; /* İçeriğin büyümesini sağlar */
}

footer {
  margin-top: auto; /* Footer'ı sayfanın en altına iter */
  width: 100%;
  line-height: 60px;
  text-align: center;
}